@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header
{
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4em;
    color:#ececec;
    text-align:center;

}
header img{
    margin-bottom:2em;
    width: 12em;
    height:auto;
    transition:0.8s ease-in-out;
}

header img:hover{
    transform:rotate(360deg) scale(1.5);
}

header h1{
    font-family: "Pacifico", cursive;
}